@import "tailwindcss";

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PyeojinGothic-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PyeojinGothic-Bold.woff2') format('woff2');
  font-weight: 700;
}

@theme {
  --font-family-sans: 'PyeojinGothic', system-ui, sans-serif;
}